table {
    border-collapse: collapse;
}

th,td {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
}

thead {
    float: left;
}

thead th {
    display: block;
}

tbody {
    float: right;
}
